.slideBg {
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #0d8d4228 55%, #0e832227 100%);
  padding: 20px 0px;
  overflow: hidden;
}

.slide {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.slideItem {
  border-radius: 8px;
  border: #fceb02 3px outset;
  height: 230px;
  flex: 1;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #0000004d);
  color: #fff;
}
.slide .slideItem:nth-of-type(1) {
  background: url(../../../public/frete2.jpg) no-repeat center;
  background-size: cover;
}

.slide .slideItem:nth-of-type(2) {
  background: url(../../../public/veterinário.jpg) no-repeat center;
  background-size: cover;
}

.slide .slideItem:nth-of-type(3) {
  background: url(../../../public/vantagens.jpg) no-repeat;
  background-position: 0% 100%;
  background-size: cover;
}

.slide .slideItem:nth-of-type(4) {
  background: url(../../../public/50anos.jpg) no-repeat center;
  background-size: cover;
}
.slideItem:hover {
  flex: 2;
}
.slideItem:hover .slideContent {
  background-color: #0000007a;
  transition: 0.4s;
}

.slideContent {
  padding: 20px;
  /* border-radius: 4px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
}
.slideContent h1 {
  background-image: linear-gradient(180deg, #ffffff 55%, #fceb02 55%);
  background-clip: text;
  color: transparent;
}
.slideContent p {
  opacity: 0;
  font-size: 1rem;
  line-height: 1.12;
  font-weight: 400;
}
.slideItem:hover .slideContent p {
  opacity: 1;
  transition: 0.5s 0.4s;
}

.slideContent p span {
  color: #fceb02;
  font-size: 1.1rem;
}
.slideItem:hover .slideContent h1 span {
  color: #fceb02;
  transition: 0.5s;
}
