.beforeFixedMenu {
  width: 100%;
  height: 150px;
}
.comport {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.background {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #0d8d42;
}

.background::before {
  overflow: hidden;
  content: '';
  margin-top: 10px;
  display: flex;
  position: absolute;
  height: 100%;
  width: 2500px;
  top: 0px;
  background-image: url('../../../../public/pegadas.png');
  background-size: 150px;
  background-position: center;
  background-clip: padding-box;
  background-repeat: space;
  background-origin: border-box;
  z-index: 1;
  animation: toLeft 10s infinite linear;
}

@keyframes toLeft {
  0% {
    transform: translateX(-157px);
  }
  100% {
    transform: translateX(0);
  }
}
.underBg {
  height: 30px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(252, 249, 77) 55%,
    rgb(252, 199, 54) 100%
  );
  filter: drop-shadow(0px 5px 4px #00000060);
  z-index: 10;
}
.underMenu {
  height: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  gap: 15px;
}
.underMenu a {
  text-decoration: none;
  font-weight: 600;
  color: #0d8d42;
  font-size: 0.9rem;
  cursor: pointer;
}
.underMenu p {
  font-weight: 600;
  color: #0d8d42;
  font-size: 0.9rem;
}
.underMenuWhatsContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}
.underMenuWhatsappA {
  background-color: #25d366;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  /* box-shadow: 1px 1px 2px #888; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff !important;
  font-size: 17px !important;
  text-decoration: none;
}
.underMenuWhatsappA:hover {
  background-color: #fff;
  color: #029e3b !important;
  font-weight: 900;
  box-shadow: 2px 2px 20px #5fe690;
  transition: 0.3s;
}
.underMenuWhatsappA i {
  margin-right: 0.9px;
  margin-top: 0px;
}
.navbar {
  position: relative;
  max-width: 1340px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 2;
}
.navbar .logo {
  position: relative;
  top: 20px;
  border: #fceb01 2px outset;
  border-radius: 8px;
  filter: drop-shadow(0px -23px 20px rgb(12, 112, 42));
}

.menu {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 20px 5px 20px;
}
.menuItens {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
}

.menuItens li,
.active li {
  list-style: none;
}
.menuItens li a,
.active li a {
  color: rgb(255, 251, 0);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 800;
}
.active li a:hover {
  color: #fff;
}
.active li a:visited {
  color: #fff;
}
.search {
  display: flex;
  width: 100%;
}

.searchInput {
  margin: 0 auto;
  display: flex;
  max-width: 65%;
  border-radius: 4px;
  padding: 10px 10px;
  flex-grow: 1;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}
.searchInput:focus-within {
  max-width: 85%;
}
.searchInput input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}
.searchInput label {
  display: flex;
  border: none;
  gap: 10px;
  background-color: transparent;
}
.searchInput label input {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  background-color: #8ada87;
  border-radius: 50%;
  width: 21px;
  padding-top: 4px;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
}
.searchInput label input:hover {
  filter: drop-shadow(0px 0px 2px #919191);
}

.cart {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.cart img {
  width: 20px;
  color: #0e8321;
}

.cart input {
  width: 18px;
  height: 15px;
  text-align: center;
  color: #0e8321;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
}
.cart input[readonly] {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Padrão */
}
.menuMobile {
  display: none;
}

.whatsappA {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 1px 1px 2px #888;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.whatsappA:hover {
  background-color: #fff;
  color: #029e3b;
  font-weight: 900;
  box-shadow: 2px 2px 20px #5fe690;
  transition: 0.3s;
}

.filteredBg {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-45.2%, 0%);
  width: 750px;
  z-index: 4;
  background-color: #fff;
  height: 50vh;
  padding: 20px 0;

  border-radius: 8px;
  filter: drop-shadow(1px 1px 5px #00000077);
}

.filteredContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 46vh;
  overflow: scroll;
  overflow-x: hidden;
}
.filteredProducts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
}
.filteredProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: #8ada87 1px solid;
  border-radius: 4px;
  width: 350px;
}
.filteredProduct img {
  height: 70px;
  border-radius: 4px;
}
.filteredProduct p {
  font-size: 0.75rem;
  width: 125px;
}
.addCart {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100px;
}
.addCart button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0px 3px 3px 0px;
  background-color: #8ada87;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.filteredContainer .next {
  padding: 40px;
}
.next input {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #acacac);
  background-color: #8ada87;
  color: #fff;
}
@media (max-width: 1150px) {
  .navbar {
    max-width: 1000px;
  }
  .menuItens {
    max-width: 700px;
  }
}
@media (max-width: 900px) {
  .menuItens li a {
    font-size: 1rem;
  }
  .menuItens {
    max-width: 600px;
  }
}
@media (max-width: 840px) {
  .menuItens {
    display: none;
  }
  .navbar {
    max-width: 700px;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    width: 33px;
    height: 36px;
    cursor: pointer;
  }
  .menuMobile input[type='checkbox'] {
    display: none;
  }
  .menuMobile span {
    background-color: #fceb01;
    border-radius: 8px;
    height: 4px;
    margin: 4px 0;
    transition: 0.4s;
  }
  .menuMobile span:nth-of-type(1) {
    width: 50%;
  }
  .menuMobile span:nth-of-type(2) {
    width: 100%;
  }
  .menuMobile span:nth-of-type(3) {
    width: 75%;
  }
  .menuMobile input[type='checkbox']:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(6px, 1px);
  }

  .menuMobile input[type='checkbox']:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  .menuMobile input[type='checkbox']:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(15px, -7px) rotatez(45deg);
  }

  .background {
    width: 100%;
    height: 120px;
    background-color: #0d8d42;
  }
  .menu {
    flex-direction: row-reverse;
    padding: 25px;
    align-items: center;
  }
  .active {
    display: flex;
    position: absolute;
    top: 119px;
    right: 10px;
    height: fit-content;
    width: 200px;
    flex-direction: column;
    gap: 15px;
    background-color: #0d8d42;
    padding: 20px;
    border-radius: 4px;
    border: #fceb01 2px;
    border-top: transparent;
    border-style: outset;
    animation: dropdown 0.4s ease-in-out;
  }
  @keyframes dropdown {
    from {
      opacity: 0;
      top: 80px;
    }
    to {
      opacity: 1;
      top: 119px;
    }
  }
  .searchInput {
    height: 40px;
    max-width: 65%;
  }

  .filteredBg {
    top: 85px;
    width: 600px;
  }
  .filteredProduct {
    width: 280px;
  }
  .filteredProduct img {
    height: 60px;
  }
  .filteredProduct p {
    font-size: 0.7rem;
  }
  .addCart {
    width: 80px;
  }
  .addCart button {
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  .menu {
    padding-left: 0px;
  }
  .searchInput {
    max-width: 75%;
  }
  .navbar .logo {
    width: 80px;
    top: 0px;
    filter: drop-shadow(0px -23px 10px rgb(12, 112, 42));
  }
  .filteredBg {
    height: 60vh;
    top: 85px;
    width: 300px;
  }
  .filteredContainer {
    height: 55vh;
  }
  .filteredProducts {
    grid-template-columns: 1fr;
  }
  .filteredProduct {
    width: 280px;
  }
  .filteredProduct img {
    height: 60px;
  }
  .filteredProduct p {
    font-size: 0.7rem;
  }
  .addCart {
    width: 80px;
  }
  .addCart button {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .beforeFixedMenu {
    height: 130px;
  }
  .background {
    height: 100px;
  }
  .underMenu p {
    font-weight: 600;
    color: #0d8d42;
    font-size: 0.75rem;
  }
  .navbar {
    height: 100px;
  }
  .underMenu a {
    font-size: 0.75rem;
  }
  .menu {
    display: flex;
    padding: 0px 0px;
    height: 100px;
    gap: 0px;
    justify-content: normal;
  }
  .search {
    max-width: 100%;
    padding-left: 10px;
  }
  .searchInput {
    height: 40px;
    max-width: 80%;
  }
  .mobile {
    padding: 15px;
  }
  .searchInput:focus-within {
    max-width: 100%;
  }
  .active {
    top: 100px;
    right: 0px;
    height: fit-content;
    width: 200px;
    flex-direction: column;
    gap: 15px;
    background-color: #0d8d42;
    padding: 20px;
    border-radius: 4px;
    border: #fceb01 2px;
    border-top: transparent;
    border-style: outset;
    animation: dropdown 0.4s ease-in-out;
  }
  @keyframes dropdown {
    from {
      opacity: 0;
      top: 80px;
    }
    to {
      opacity: 1;
      top: 100px;
    }
  }
}
@media (max-width: 425px) {
  .underMenu a {
    display: none;
  }
  .underMenuWhatsContainer {
    display: none;
  }
}
@media (max-width: 350px) {
  .underMenu p {
    font-weight: 600;
    color: #0d8d42;
    font-size: 0.75rem;
  }
  .menu {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .mobile {
    padding: 5px;
  }
  .searchInput label img {
    width: 15px;
  }
  .searchInput {
    height: 30px;
    padding: 0px 5px;
  }
  .searchInput:focus-within {
    max-width: 90%;
  }
  .cart {
    height: 30px;
    display: flex;
    align-self: self-end;
    gap: 0px;
    padding: 10px 10px;
    margin-bottom: 10px;
  }

  .cart img {
    width: 15px;
  }

  .cart input {
    display: none;
    width: 15px;
    height: 15px;
    text-align: center;
    color: #0e8321;
    font-weight: 800;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
  }
  .filteredBg {
    top: 95px;
  }
  .searchInput label input {
    height: 22px;
    margin-top: 4px;
  }
}
