.productsPainelBg {
  width: 100%;
  height: min-content;
  background-image: linear-gradient(180deg, #fff 0%, #ffffff 100%);
}
.productsPainel {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding: 40px;
  gap: 20px;
  justify-content: center;
}

.leftBar {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftBar .title {
  color: #8ada87;
}
.leftBar .filter {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #8ada87;
  border-radius: 8px;
  color: #fff;
}
.filter input {
  margin-right: 5px;
  border: rgb(252, 248, 126) 10px solid;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 20px;
}
.produtoBg {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: #8ada87 1px solid;
  border-radius: 8px;
  height: 250px;
  width: 200px;
}
.produto {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.produto img {
  max-width: 100px;
}
.produto p {
  font-size: 0.9rem;
}
.quantity {
  display: flex;
  border-radius: 4px;
  border: rgb(250, 252, 161) 2px solid;
}
.quantity input {
  width: 25px;
  text-align: center;
  border: none;
  background-image: linear-gradient(
    180deg,
    rgba(252, 249, 77, 0.836) 55%,
    rgba(252, 199, 54, 0.877) 100%
  );
  padding: 2px 4px;
  cursor: pointer;
}
.quantity input[type='text'] {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 55%,
    rgb(255, 255, 255) 100%
  );

  font-weight: 700;
  cursor: default;
  outline: none;
}
.addCart {
  position: relative;
  bottom: -2px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.addCart button {
  width: 100%;
  padding: 4px 8px;
  border: none;
  background-color: #8ada87;
  border-radius: 0px 0px 8px 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;

  cursor: pointer;
  color: #ffffff;
}
.addCart img {
  position: relative;
  right: -10px;
  width: 12px;
}
.next {
  padding: 40px;
  display: flex;
  justify-content: center;
}
.next input {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  color: /* #0d8d42 */ #ffffff;
  font-size: 1rem;
  cursor: pointer;
  background-color: #8ada87;
  filter: drop-shadow(2px 2px 2px rgb(201, 201, 201));
}
